<!DOCTYPE html>
<html>
<head>

  <title>Home</title>
  <!-- Load jquery PRIOR to bootstrap -->

  <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
    <!-- Load Semantic-->
  <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/accordion.min.css"></link>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Load Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--Google Fonts-->

  <link href="https://fonts.googleapis.com/css?family=Expletus+Sans" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">

  <!-- Load our css -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" >


  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/accordion.min.js"></script>


</head>

<body background>

<div class="container">

  <nav class="navbar" role="navigation">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>

            <li><a href="lost">Lost</a></li>

            <li><a href="found">Found</a></li>

          </ul>

        </div>

  </nav>

</div>

  <div class="container">

    <div class="row" id='stuffFound'>

      <table id='content'>

        <caption>Found</caption>

        <tr>

          <th class='title'>Type</th>

          <th class='title'>Size</th>

          <th class='title'>Color</th>

          <th class='title'>Location</th>

        </tr>

      </table>

    </div>

    <div class="row" id='addItem'>

      <h3 class='heading'>Add Item</h3>

        <div class="formHead">
        
          <div class="ui vertical accordion menu">

          <div class="item">
        
          <a class="title">
        
            <i class="dropdown icon"></i>
        
            Type
        
          </a>
        
        <div class="content">
        
          <div class="ui form">
        
            <div class="grouped fields">
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="jacket">
        
                  <label>Jacket</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="shirt">
        
                  <label>Shirt</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="scarf">
        
                  <label>Scarf</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="sweater">
        
                  <label>Sweater</label>
        
                </div>
              
              </div>
            
            </div>
        
          </div>
        
        </div>
        
      </div>
           
            <div class="item">
           
              <a class="active title">
           
                <i class="dropdown icon"></i>
           
                Size
           
              </a>
           
            <div class="active content">
           
              <div class="ui form">
           
                <div class="grouped fields">
           
                  <div class="field">
           
                    <div class="ui radio checkbox">
           
                      <input type="radio" name="size" value="small">
           
                      <label>Small</label>
           
                    </div>
           
                  </div>
           
                  <div class="field">
           
                    <div class="ui radio checkbox">
           
                      <input type="radio" name="size" value="medium">
           
                      <label>Medium</label>
           
                    </div>
           
                  </div>
           
                  <div class="field">
           
                    <div class="ui radio checkbox">
           
                      <input type="radio" name="size" value="large">
           
                      <label>Large</label>
           
                    </div>
           
                  </div>
           
                  <div class="field">
           
                    <div class="ui radio checkbox">
           
                      <input type="radio" name="size" value="x-large">
           
                      <label>X-Large</label>
           
                    </div>
           
                  </div>
           
                </div>
           
              </div>
           
            </div>
          
          </div>
        
        <div class="item">
        
          <a class="title">
        
            <i class="dropdown icon"></i>
        
            Colors
        
          </a>
        
        <div class="content">
        
          <div class="ui form">
        
            <div class="grouped fields">
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="red">
        
                  <label>Red</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="orange">
        
                  <label>Orange</label>
        
                </div>
        
              </div>

              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="yellow">
        
                  <label>Yellow</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="green">
        
                  <label>Green</label>
        
                </div>
        
              </div>
        
              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="blue">
        
                  <label>Blue</label>
        
                </div>
              
              </div>

              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="purple">
        
                  <label>Purple</label>
        
                </div>
              
              </div>

              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="pink">
        
                  <label>Pink</label>
        
                </div>
              
              </div>

              <div class="field">
        
                <div class="ui radio checkbox">
        
                  <input type="checkbox" name="black">
        
                  <label>Black</label>
        
                </div>
              
              </div>
            
            </div>
        
          </div>
        
        </div>
        
      </div>

          <input class="submit" type="submit" name="Submit" value="Submit">

        </div>

    </div>

  </div>

  <div class="container">

  <div class="row">



      <div id="floating-panel">

        <input id="address" type="textbox" value="San Francisco">
        <input id="submit" type="button" value="Geocode">

      </div>



  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col-lg-12" id="mapDisplay">

      <div id="map"></div>

    </div>

  </div>

</div>

<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 37.7936684, lng: -122.3957547}
        });
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }
      // window.initMap = initMap;
      function geocodeAddress(geocoder, resultsMap) {
        console.log(geocoder, resultsMap)
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }



      $(document).ready(function() {
        $('.ui.accordion')
         .accordion();
    $.ajax({
        url: "/api/getitems?lost=0"
    }).then(function(res, err) {
        console.log(res)
        var items = res
        var tbody = $('#items');
        for (i in items) {
            var tr = $('<tr>').append(
                $('<td>').text(items[i].itemtype),
                $('<td>').text(items[i].size),
                $('<td>').text(items[i].color)
                // $('<td>').text(items[i].location)
            );
            $(tr).appendTo(tbody);
        }
    })


//Lost1 = true  Lost2 = false

$("#submitItem").click(function(){
    console.log("clicked")
      event.preventDefault();
      var itemLost = {
       itemtype: $("#type").val(),
       size: $("#size").val(),
       color: $("#color").val(),
       // attribute: $("#type").val(),
       location: $("#location").val()
    }

    $.ajax({
      data: itemLost,
      type: "post",
      url: "/api/postitem?lost=1"
    }).then(function(res, err){
      console.log(res)
    })    
});

})
      
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKgqILnUfcbks-G_f0KfFU-ENQ4fod09E&callback=initMap">
</script>




</body>
</html>
